*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.external-css{
    background-color:salmon;
    margin: 10px;
    padding: 10px;
    border:1px solid #fff;
    line-height: 22px;
     
    /* fonts  from google */

    font-family: 'Raleway', sans-serif;
}

.external-css h3 {
    line-height: 30px;
}